.fire{
  position: relative;
}
.fire::before {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0ic2l6ZS02Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi45NjMgMi4yODZhLjc1Ljc1IDAgMCAwLTEuMDcxLS4xMzYgOS43NDIgOS43NDIgMCAwIDAtMy41MzkgNi4xNzYgNy41NDcgNy41NDcgMCAwIDEtMS43MDUtMS43MTUuNzUuNzUgMCAwIDAtMS4xNTItLjA4MkE5IDkgMCAxIDAgMTUuNjggNC41MzRhNy40NiA3LjQ2IDAgMCAxLTIuNzE3LTIuMjQ4Wk0xNS43NSAxNC4yNWEzLjc1IDMuNzUgMCAxIDEtNy4zMTMtMS4xNzJjLjYyOC40NjUgMS4zNS44MSAyLjEzMyAxYTUuOTkgNS45OSAwIDAgMSAxLjk1LTMuNTQ2IDMuNzUgMy43NSAwIDAgMSAzLjI1NSAzLjcxOFoiIGNsaXAtcnVsZT0iZXZlbm9kZCIgLz4KPC9zdmc+Cg==');
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  filter: invert(48%) sepia(63%) saturate(463%) hue-rotate(88deg) brightness(95%) contrast(92%);
}