* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #fff;
}
input[type="text"], textarea {
  border: 1px solid #ddd;
}
a {
  color: #f9c78b !important;
}
.highlight{
  position: relative;
}
.highlight:before{
  content: "";
  position: absolute;
  height: 0.7em;
  top: 0.6em;
  background: #f9c78b;
  width: 100%;
  opacity: 0.55;
}